# Database Configuration
DB_HOSTNAME="localhost"
DB_USERNAME=""
DB_PASSWORD=""
DB_DATABASE=""
DB_DRIVER="mysqli"
DB_PREFIX=""

# APP CONFIGURATION
APP_URL=""
APP_INDEX_PAGE="index.php"
APP_LANGUAGE="english"

# Dolibarr APP
DOLIBARR_APP=''
